@model Data.User
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="container">
    <div class="row wrapper">
        <form class="col s12" action="/User/Create" method="post">
            <br />
            <div class="row">
                <div class="input-field col s3">
                    @Html.EditorFor(x => x.Name)
                    @Html.LabelFor(x => x.Name)
                </div><div class="input-field col s3">
                    @Html.EditorFor(x => x.LastName)
                    @Html.LabelFor(x => x.LastName)
                </div><div class="input-field col s3">
                    @Html.EditorFor(x => x.Email)
                    @Html.LabelFor(x => x.Email)
                </div><div class="input-field col s3">
                    @Html.EditorFor(x => x.Password)
                    @Html.LabelFor(x => x.Password)
                </div><div class="input-field col s3">
                    <button type="submit" class="waves-effect waves-light btn col s6"><i class="material-icons left">save</i>Guardar producto</button>
                </div>
            </div>
        </form>
    </div>
</div>

