@model Tupperware_e_commerce.Models.ShoppingCartViewModel
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="container wrapper">
    <div class="row">
        <form class="col s12" action="/ShoppingCart/Create" method="post">
            <br />
            @Html.HiddenFor(x => x.ShoppingCart.CartId)
            <div class="row">
                <div class="input-field col s3">
                    @Html.EditorFor(x => x.ShoppingCart.Amount)
                    @Html.LabelFor(x => x.ShoppingCart.Amount)
                </div>
                <div class="input-field col s3">
                    @Html.EditorFor(x => x.ShoppingCart.CartDate)
                    @Html.LabelFor(x => x.ShoppingCart.CartDate)
                </div>
                @*<div class="col s3"> STOCKKKK
                    @Html.LabelFor(x => x.Stock.Color.ColorId)
                    @Html.DropDownListFor(x => x.Stock.Color.ColorId, Model.Colors.Select(p => new SelectListItem { Value = p.ColorId.ToString(), Text = p.ColorDescription }), new { @class = "browser-default" })
                </div>*@
                <div class="col s9">
                    @Html.LabelFor(x => x.ShoppingCart.Dispatch.DispatchId)
                    @Html.DropDownListFor(x => x.ShoppingCart.Dispatch.DispatchId, Model.Dispatch.Select(p => new SelectListItem { Value = p.DispatchId.ToString(), Text = p.DispatchDescription }), new { @class = "browser-default" })
                </div>
                <div class="col s9">
                    @Html.LabelFor(x => x.ShoppingCart.Client.ClientId)
                    @Html.DropDownListFor(x => x.ShoppingCart.Client.ClientId, Model.Clients.Select(p => new SelectListItem { Value = p.ClientId.ToString(), Text = p.ClientName }), new { @class = "browser-default" })
                </div>
                <div class="input-field col s3">
                    <button type="submit" class="waves-effect waves-light btn col s6"><i class="material-icons left">save</i>Guardar producto</button>
                </div>
            </div>
        </form>
    </div>
</div>

