@model IList<Data.Sale>
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="container">
    <table class="highlight centered">
        <br />
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Pago del Cliente</th>
                <th>Cliente</th>
                <th>Direccion</th>
                <th>Producto</th>
                <th>Capacidad</th>
                <th>Color</th>
                <th>Cantidad</th>
                <th>Despacho</th>
                <th>Contacto Cliente</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sale in Model)
            {
                <tr>    
                    <td>@sale.SaleDate</td>
                    <th>@sale.SaleAmount</th>
                    <td>@sale.Client</td>
                    <td>@sale.Client.Calle</td>@*Concatenar calle + Numero + Departamente + Piso*@
                    <td>@sale.Product.Name</td>
                    <td>@sale.Stock.Capacidad</td>
                    <td>@sale.Stock.Color</td>
                    <td>@sale.SaleUnits</td>
                    <td>@sale.Dispatch.DispatchType</td>
                    <td>@sale.Client.ContactoCliente</td>
                    <td><a href="/Sale/Edit/@sale.Id"><i class="small material-icons">mode_edit</i></td>
                    <td><a href="/Sale/Delete/@sale.Id"><i class="small material-icons">delete</i></td>
                </tr>
            }
        </tbody>
    </table>
</div>


