@model Data.Product
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="container wrapper">
    <div class="row wrapper">
        <form class="col s12" action="/Product/Edit" method="post">
            <br />
            @Html.HiddenFor(x => x.ProductId)
            <div class="row">
                <div class="input-field col s3">
                    @Html.EditorFor(x => x.ProductName)
                    @Html.LabelFor(x => x.ProductName)
                </div>
                <div class="input-field col s3">
                    @Html.EditorFor(x => x.ProductComposition)
                    @Html.LabelFor(x => x.ProductComposition)
                </div>
                <div class="input-field col s12">
                    @Html.TextAreaFor(x => x.ShortDescription)
                    @Html.LabelFor(x => x.ShortDescription)
                </div>
                <div class="input-field col s12">
                    @Html.TextAreaFor(x => x.FullDescription)
                    @Html.LabelFor(x => x.FullDescription)
                </div>
                <div class="input-field col s12">
                    @Html.TextAreaFor(x => x.Recomendations)
                    @Html.LabelFor(x => x.Recomendations)
                </div>
                <div class="input-field col s3">
                    <button type="submit" class="waves-effect waves-light btn col s6"><i class="material-icons left">mode_edit</i>Editar</button>
                </div>
            </div>
        </form>
    </div>
</div>

