@model Tupperware_e_commerce.Models.ProductViewModel
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="container wrapper">
    <div class="row wrapper">
        <form class="col s12" action="/Product/Edit" method="post">
            <br />
            @Html.HiddenFor(x => x.Product.ProductId, new { name="ProductId" })
            <div class="row">
                <div class="input-field col s3">
                    @Html.EditorFor(x => x.Product.ProductName)
                    @Html.LabelFor(x => x.Product.ProductName)
                </div>
                <div class="input-field col s3">
                    @Html.EditorFor(x => x.Product.ProductComposition)
                    @Html.LabelFor(x => x.Product.ProductComposition)
                </div>
                <div class="input-field col s12">
                    @Html.TextAreaFor(x => x.Product.ShortDescription)
                    @Html.LabelFor(x => x.Product.ShortDescription)
                </div>
                <div class="input-field col s12">
                    @Html.TextAreaFor(x => x.Product.Recomendations)
                    @Html.LabelFor(x => x.Product.Recomendations)
                </div>
                <div>
                    <span class="btn-large"><a data-target="modal1" class="modal-trigger">descripciones</a></span>
                </div>
                <div class="input-field col s3">
                    <button type="submit" class="waves-effect waves-light btn col s6"><i class="material-icons left">mode_edit</i>Editar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="modal1" class="modal">
    <div class="modal-content">
        <table>
            <thead>
                <tr>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Description in Model.Description)
                {
                    <tr>
                        <td>@Description.DescriptionText</td>
                        <td>
                            <input type="checkbox" name="descriptionInput" id="@Description.DescriptionId" />
                            <label for="@Description.DescriptionId"></label>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a id="modalSave" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Guardar</a>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('select').material_select();
            $('.modal').modal();
            $('.sidenav').sideNav();
            $('.carousel.carousel-slider').carousel({ fullWidth: true });

            $("#modalSave").click(function (e) {
                var productId = $("#Product_ProductId").val();

                var descriptionInputs = $("[name=descriptionInput]");
                var savedDescriptions = [];
                descriptionInputs.each(function (i, input) {
                    if (input.checked) {
                        savedDescriptions.push($(input).attr("id"));
                    }
                });

                $.ajax({
                    url: "/Product/SaveDescription/" + productId,
                    data: JSON.stringify(savedDescriptions),
                    success: function (res) {
                        console.log("success!");
                    },
                    contentType: "application/json",
                    method: "POST"
                });
            })
        });
    </script>
}
